/* Please Welcome section - Main body */;

.view-another-please-welcome .views-field-title, .view-another-please-welcome .views-label-field-team {
	font-weight: bold;
}

.view-another-please-welcome .field-content, .view-another-please-welcome .views-field-title {
  text-align:center;
  font-weight: bold;
}

.view-another-please-welcome .views-field-field-team {
  display: block;
  text-align:center;
}

.view-another-please-welcome p {
	display: block;
	margin: 2em;
	text-align: justify;
	font-weight: normal;
}

/* Please Welcome section - Pager controls */

.pager-next, .pager-previous {
	font-size: 2em;
}


/*
 --Moves pager arrows to vertical center of containing div
.view-another-please-welcome :not(.more-link) a {
	display:block;
	position: absolute;
	top: 50%;
}

.view-another-please-welcome .pager-next a {
	right:1em;
}

.view-another-please-welcome .pager-previous a {
	left:1em;
} */

/* News section - teasers */

#block-views-news-view-block .node-teaser {
	padding: 0 1em 0 1em;
}

#block-views-news-view .node-teaser .field-name-field-tags {
	display:none;
}

/* ---Misc--- */

/* Header colour */
#header {
	background-color: #000;
	background-image: -moz-linear-gradient(-90deg, #4D4D4D, #111);
}