/* Top three columns */

#top-area {
	min-width: 80%;
}

#top-area .region {
	padding: 2em;
	text-align: center;
}

#top-area .region a, #top-area .region p {
	color:white;
}

#top-area .region a:hover {
	text-decoration: underline;
}

#top-area .contextual-links-region h2 {
  text-align: center;
}

/* The aggregator */
.region-top-first {
	background: #639bb4;
}

/* The news box */
.region-top-second {
	background: #7dbf94;
}

/* The please welcome box */
.region-top-third {
	background: #df815a;
}

#top-area .region .more-link a {
	color:#666;
}

/* Hide the add comment link on articles */
.node-article .comment-add a {
	display: none;
}

#top-area .column {
	height:22vmax;
}

#top-area .column .region {
	height:100%;
}

#top-area .column .region .content {
	display:none
}