/* Top three columns */

#top-area {
	min-width: 80%;
}

#top-area .region {
	/* padding: .5em; */
	text-align: center;
}

#top-area .region a, #top-area .region p {
	color:white;
}

#top-area .region a:hover {
	text-decoration: underline;
}

#top-area .contextual-links-region h2 {
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight:bold;
  padding: 10px;
}

#top-area .column .views-field-title {
  font-weight: bold;
}

#top-area .column .field-content img  {
  padding-top: 15px;
  height: 115px;
}

#top-area .block-views h2 {
  padding:10px;
  font-weight:bold;
}

/* The events box */
.region-top-first {
	background: #639bb4;
}

#top-area .column .region-top-first .views-field-nothing {
  background: #eeeeff;
  height: 130px;
}

/* The news box */
.region-top-second {
	background: #7dbf94;
}

#top-area .column .region-top-second .views-field-nothing {
  background: #eeffee;
  height: 130px;
}

#top-area .column .region-top-second .views-field-field-image .field-content {
  /* padding-bottom:0.8em; */
}

/* The please welcome box */
.region-top-third {
	background: #df815a;
}

/* --Please welcome slider border */
#flexslider-1 li {
  background: #ffeeee;
}

#top-area .column .region-top-third .views-field-field-team .field-content {
  
}

#top-area .region .views-field-title {
  border-top: 1px solid #eeeeee;
}

#top-area .region-top-third .views-field-title {
  background: #df815a;
}

#top-area .region-top-third .views-field-field-team {
  background: #df815a;
}


#top-area .region .more-link a {
	color:#666;
}

/* Hide the add comment link on articles */
.node-article .comment-add a {
	display: none;
}

#top-area .column {
height: 300px;
	
}

#top-area .column .region {
	height:100%;
}

.column-icon {
  float: right;
} 

.icon-column-one{
  color: #FFFFFF;
  position: relative;
  top: 1px;
   
}
.icon-column-two{
  color: #FFFFFF;
  display:block;
  position: relative;
  top: 0%;
  right: 0%;
}
.icon-column-three{
  color: #FFFFFF;
  display:block;
  position: relative;
  top: 0%;
  right: 0%;
}


#post-content h1 {
  color: #666;
  font-size: 4em;
  margin-top: 10px;
  margin-bottom: 30px;
}

#block-views-md-slider-view-main-page-block{
	width: 70%;
}



/* Please welcome 
#flexslider-1 .views-field-field-profile-picture {
  width:100px;
  margin: 0 auto;
}*/


#flexslider-1 .views-field-nothing img {
  width:auto;
  display:block;
  margin:0 auto;
}

/* Please Welcome */
#flexslider-1 {
  background: #df815a;
  border-color: #df815a;
  display:block;
  width:100%;
  margin:0 auto;
}

.views-field.views-field-nothing{
	height: 130px;
}