/* Top three columns */

#top-area {
	min-width: 80%;
}

#top-area .column {
  height: 22vmax;
}

#top-area .region {
	padding: .5em;
	text-align: center;
}

#top-area .region a, #top-area .region p {
	color:white;
}

#top-area .region a:hover {
	text-decoration: underline;
}

#top-area .contextual-links-region h2 {
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
}


/* The aggregator */
.region-top-first {
	background: #639bb4;
}

/* The news box */
.region-top-second {
	background: #7dbf94;
}

/* The please welcome box */
.region-top-third {
	background: #df815a;
}

#top-area .region .more-link a {
	color:#666;
}

/* Hide the add comment link on articles */
.node-article .comment-add a {
	display: none;
}

#top-area .column {
	
}

#top-area .column .region {
	height:100%;
}

.column-icon {
  float: right;
} 

.icon-column-one{
  color: #FFFFFF;
  position: relative;
  top: 1px;
   
}
.icon-column-two{
  color: #FFFFFF;
  display:block;
  position: relative;
  top: 0%;
  right: 0%;
}
.icon-column-three{
  color: #FFFFFF;
  display:block;
  position: relative;
  top: 0%;
  right: 0%;
}


#post-content h1 {
  color: #666;
  font-size: 4em;
  margin-top: 10px;
  margin-bottom: 30px;
}

#block-views-md-slider-view-main-page-block{
	width: 70%;
}



/* Please welcome */
#flexslider-1 .views-field-field-profile-picture {
  width:40%;
  margin: 0 auto;
}

/* Please Welcome */
#flexslider-1 {
  background: #df815a;
  border-color: #df815a;
}